body {
  background-color: black;
  display: grid;
  place-items: center;
}

.app {
  background-color: aqua;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 8rem;
  border-radius: 20px;
}
.app h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-shadow: 0 0 3px #f3ae0c, 0 0 5px #04324d;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input {
  margin: 1rem 0;
  width: 345px;
  height: 25px;
  border-radius: 10px;
  padding: 3px;
  font-size: 17px;
  background-color: black;
  color: aqua;
  border: 2px solid white;
}

.form input::placeholder {
  color: rgb(188, 243, 243);
}

.form button {
  margin-left: 10px;
  height: 33px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: aqua;
  background-color: black;
  border: 2px solid white;
  cursor: pointer;
}

.form-todos {
  width: 350px;
  margin: 0 15px;
}

.todos {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  margin-left: -25px;
}

.todos-li {
  height: 25px;
  border-radius: 10px;
  padding: 5px;
  padding-left: 4px;
  font-size: 17px;
  border: none;
  font-weight: bold;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  margin-left: 13px;
}

.todos-btn {
  height: 34px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  color: rgb(27, 224, 27);
  border: none;
  cursor: pointer;
}

.edit {
  color: #e0f52a;
}

@media (max-width: 500px) {
  .app {
    background-color: aqua;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 8rem;
    border-radius: 20px;
  }
  .app h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 0 0 3px #f3ae0c, 0 0 5px #04324d;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form input {
    margin: 1rem 0;
    width: 255px;
    height: 25px;
    border-radius: 10px;
    padding: 3px;
    font-size: 14px;
    background-color: black;
    color: yellow;
    border: 2px solid white;
  }
  
  .form input::placeholder {
    color: rgb(236, 236, 125);
  }
  
  .form button {
    margin-left: 10px;
    height: 33px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(221, 248, 14);
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
  }
  
  .form-todos {
    width: 320px;
    margin: 0 15px;
  }
  
  .todos {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    margin-left: -25px;
  }
  
  .todos-li {
    height: 25px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 4px;
    font-size: 14px;
    border: none;
    font-weight: bold;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin-left:14px;
  }
  
  .todos-btn {
    height: 34px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    color: whitesmoke;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 570px) {
  .form button {
    font-size: 14px;
  }
  .form input {
    width: 270px;
  }
}